# TRAINING PARAMETERS:
start_step = 0
target_smoothness = 4.0
shift_targets = false
steps = 100000
resume_from_path = ""
lr = { pulse = 5e-5, gradient = 5e-5 } # learning rates
plot_loss_frequency = 20
start_logging = 1000
pre_train_inputs = false
suppress_loss_peaks = false
loss_metric = "L1"
phase_offset_in_rad = 1.5707963267948966 # [-pi,pi]

# BLOCH PARAMETERS:
n_slices = 2
n_b0_values = 5 # needs to be odd when shift_targets == true
flip_angle = 1.5707963267948966 # pi/2
tfactor = 2 # pulse time is 0.64ms * tfactor
Nz = 512 # number of mesh points in pos axis
Nt = 64 # number of mesh points per 0.64ms time interval
pos_spacing = "nonlinear" # "nonlinear" places more mesh points in the center

# MODEL PARAMETERS:
model_name = "MixedModel" # MLP, SIREN, RBFN, FourierMLP, FourierSeries, ModulatedFourier, MixedModel

[loss_weights]
loss_mxy = 1.0
loss_mz = 1.0
boundary_vals_pulse = 100.0
gradient_height_loss = 0.1
pulse_height_loss = 1000.0
gradient_diff_loss = 1.0
phase_diff_var_loss = 1e-6
phase_offset_loss = 1e-2
phase_diff = 0
phase_B0_diff = 0

[model_args]
n_coeffs = 50 # Fourier Series
omega_0 = 44 # SIREN
bandwidth = 101 # ModulatedFourier
hidden_dim = 32 # MLP, SIREN, ModulatedFourier
num_layers = 16 # MLP, SIREN
num_centers = 10 # RBFN
center_spacing = 1 # RBFN
num_fourier_features = 51 # FourierMLP
frequency_scale = 100.0 # FourierMLP
gradient_scale = 10.0 # relative size of gradient to RF pulse
positive_gradient = false

# PARAMETERS OF THE SCANNER (constraints used by loss):
[scanner_params]
max_gradient = 50
max_diff_gradient = 200
max_pulse_amplitude = 0.03